.detail {
	background: #fff;

	.page-title {
		.main-top {
			min-height: 60vh;
		}

		.content {
			h1 {
				font-weight: 400;
				font-size: 36px;
				margin-top: 16px;
				margin-bottom: 16px;
				line-height: 1.2;
				color: #fff;
				padding-top: 0;
				word-break: break-word;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.description {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.5;
				color: #ccc;
				word-break: break-word;
				max-width: 500px;
				margin: 6px auto;
			}
		}
	}

	.page-content {
		.main-video {
			margin-top: -20%;
			width: 1110px;
			height: 624px;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

			@include respond(phone) {
				margin-top: -60%;
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}

		.detail-video {
			margin-top: 20px;
			h3 {
				font-size: 36px;
				line-height: 1.6em;
				text-transform: none;
			}

			p {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.875;
				color: #6e6e6e;
				word-break: break-word;
				margin-bottom: 30px;
			}
		}
	}
}
