@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.margin-top-6 {
  margin-top: 6rem;
}

.margin-top-7 {
  margin-top: 7rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.margin-top-9 {
  margin-top: 9rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-bottom-6 {
  margin-bottom: 6rem;
}

.margin-bottom-7 {
  margin-bottom: 7rem;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-bottom-9 {
  margin-bottom: 9rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-left-2 {
  margin-left: 2rem;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-left-4 {
  margin-left: 4rem;
}

.margin-left-5 {
  margin-left: 5rem;
}

.margin-left-6 {
  margin-left: 6rem;
}

.margin-left-7 {
  margin-left: 7rem;
}

.margin-left-8 {
  margin-left: 8rem;
}

.margin-left-9 {
  margin-left: 9rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-right-3 {
  margin-right: 3rem;
}

.margin-right-4 {
  margin-right: 4rem;
}

.margin-right-5 {
  margin-right: 5rem;
}

.margin-right-6 {
  margin-right: 6rem;
}

.margin-right-7 {
  margin-right: 7rem;
}

.margin-right-8 {
  margin-right: 8rem;
}

.margin-right-9 {
  margin-right: 9rem;
}

/*

0 - 600px: phone
600-900: tablet portrait
900-1200: tablet landscape
1200-1800: normal style
1800+: big desktop
  
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none !important;
}

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  background: #262626;
}

html {
  font-size: 62.5%;
}

@media (max-width: 112.5em) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.header {
  background: #111;
}

.header .wrap-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .header .wrap-content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .wrap-content-header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .header .wrap-content-header-1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
}

.header .top-header {
  padding: 30px 0;
}

.header .top-header .right-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 37.5em) {
  .header .top-header .right-logo {
    width: 100%;
    margin-top: 10px;
  }
}

.header .top-header .right-logo .wrap-content-searchbar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 30px;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  background: rgba(37, 37, 37, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form .search-field {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  line-height: 1.6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  width: 1px;
  height: 100%;
  border-radius: 20px;
  background: transparent;
  padding-left: 26px;
  padding-right: 60px;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form .search-field:focus {
  outline: none !important;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form ::-webkit-input-placeholder {
  color: #757575;
  font-style: italic;
  font-family: sans-serif;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form :-ms-input-placeholder {
  color: #757575;
  font-style: italic;
  font-family: sans-serif;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form ::-ms-input-placeholder {
  color: #757575;
  font-style: italic;
  font-family: sans-serif;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form ::placeholder {
  color: #757575;
  font-style: italic;
  font-family: sans-serif;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form .btn-search {
  font-size: 20px;
  line-height: 1;
  color: #757575;
  width: 70px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  border: none;
  background: transparent;
}

.header .top-header .right-logo .wrap-content-searchbar .search-form .btn-search:hover {
  color: #e40914;
}

.header .top-header .right-logo .wrap-content-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px;
}

@media (max-width: 56.25em) {
  .header .top-header .right-logo .wrap-content-social-links {
    display: none;
  }
}

.header .top-header .right-logo .wrap-content-social-links .social-item {
  font-size: 16px;
  line-height: 1;
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #262626;
  margin: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.header .top-header .right-logo .wrap-content-social-links .social-item:hover {
  background: #e40914;
  color: #fff;
}

.header .bottom-header {
  background: #e40914;
}

.header .bottom-header .menu-mobile-effect {
  margin-right: 20px;
  position: relative;
  z-index: 0;
}

.header .bottom-header .menu-mobile-effect .icon-wrap .fas {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.header .bottom-header .main-navigation {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 0;
}

@media (max-width: 37.5em) {
  .header .bottom-header .main-navigation {
    display: none;
  }
}

.header .bottom-header .main-navigation .menu-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0;
}

.header .bottom-header .main-navigation .menu-item-list li {
  padding: 14px 11px;
  position: relative;
}

.header .bottom-header .main-navigation .menu-item-list li:hover {
  background: rgba(255, 255, 255, 0.25);
}

.header .bottom-header .main-navigation .menu-item-list li:hover .sub-menu {
  opacity: 1;
  visibility: initial;
}

.header .bottom-header .main-navigation .menu-item-list li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  white-space: nowrap;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.header .bottom-header .main-navigation .menu-item-list .sub-menu {
  background: #262626;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  width: 190px;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  left: 0;
}

.header .bottom-header .main-navigation .menu-item-list .sub-menu li {
  padding: 8px 20px;
}

.header .bottom-header .main-navigation .menu-item-list .sub-menu li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #7c7c7c;
}

.header .bottom-header .main-navigation .menu-item-list .sub-menu li a:hover {
  color: #fff;
}

.header .bottom-header .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .bottom-header .menu-right-1 .wrap-content-upload {
  margin-top: 2px;
}

.header .bottom-header .menu-right-1 .wrap-content-upload .btn-submit-video {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 14px;
  position: relative;
  z-index: 0;
}

.header .bottom-header .menu-right-1 .wrap-content-upload .btn-submit-video .fas {
  font-size: 16px;
  margin-bottom: -2px;
  margin-right: 7px;
}

.header .bottom-header .menu-right-2 .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 0;
}

.header .bottom-header .menu-right-2 .login::after {
  content: "";
  display: block;
  width: calc(100% + 20px);
  height: 45px;
  background: #fff;
  position: absolute;
  z-index: -1;
  top: calc(50% - 22px);
  left: -10px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .bottom-header .menu-right-2 .login:hover .header .bottom-header .menu-right-2 .login::after {
  opacity: 0.25;
}

.mobile-menu-links .title, .mobile-menu-articles .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
  padding-top: 0;
}

.mobile-menu-links .title::before, .mobile-menu-articles .title::before {
  content: "";
  display: block;
  width: 3px;
  height: calc(100% - 15px);
  background-color: #e40914;
  position: absolute;
  top: 7px;
  left: 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.mobile-menu {
  position: fixed;
  background: #262626;
  z-index: 100;
  max-width: 290px;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobile-menu .fa-times {
  font-size: 20px;
  color: #fff;
  width: 100%;
  text-align: end;
  cursor: pointer;
}

.mobile-menu-links {
  display: none;
}

@media (max-width: 37.5em) {
  .mobile-menu-links {
    display: block;
  }
}

.mobile-menu-links .wrap-menu-links ul {
  padding-left: 15px;
  border-left: 1px solid #666;
}

.mobile-menu-links .wrap-menu-links ul .menu-item {
  padding: 7px 0;
  position: relative;
  margin: 0;
  font-size: 20px;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
}

.mobile-menu-links .wrap-menu-links ul .menu-item .fa-angle-down {
  color: #999;
  cursor: pointer;
}

.mobile-menu-links .wrap-menu-links ul .menu-item .fa-angle-down:hover {
  color: #fff;
}

.mobile-menu-links .wrap-menu-links ul .menu-item::before {
  width: 10px;
  height: 1px;
  content: "";
  background-color: #666;
  position: absolute;
  left: -15px;
  top: 20px;
}

.mobile-menu-links .wrap-menu-links ul .menu-item .sub-menu-mobile {
  max-height: 0;
  overflow: hidden;
  background: #262626;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 100;
  width: 100%;
}

.mobile-menu-links .wrap-menu-links ul .menu-item a {
  font-size: 15px;
  color: #999;
  text-transform: capitalize;
}

.uncollapsed {
  max-height: 1000px !important;
}

.openmenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #111;
}

.footer figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.footer-info .description p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  color: #7c7c7c;
  text-align: center;
  word-break: break-word;
  margin-bottom: 32px;
}

.footer-form form {
  width: 370px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer-form form label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 43px;
}

.footer-form form label input {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  min-width: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  border: 1px solid rgba(137, 137, 138, 0.3);
  border-right: none;
  padding: 0 15px;
}

.footer-form form label input:focus {
  outline: red !important;
}

.footer-form__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  background: #e40914;
  height: 43px;
  padding: 0 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 0;
  border: none;
  width: auto;
  margin-top: 0;
}

.footer-form__btn:hover {
  background: #b30710;
  color: #fff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-social .wrap-content-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px;
}

.footer-social .wrap-content-social-links .social-item {
  font-size: 19px;
  line-height: 1;
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #262626;
  margin: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  border: 1px solid;
}

.footer-social .wrap-content-social-links .social-item:hover {
  background: #e40914;
  color: #fff;
}

.footer-latest-post .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  margin-top: -5px;
  margin-bottom: 28px;
}

.footer .popular-categories .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  margin-top: -5px;
  margin-bottom: 28px;
}

.footer .popular-categories .list-categories .cat-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  word-break: break-word;
  padding-right: 40px;
  position: relative;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .popular-categories .list-categories .cat-item a {
  color: #7c7c7c;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .popular-categories .list-categories .cat-item a:hover {
  color: #e40914;
}

.introduction {
  background-size: cover;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem 0;
}

.introduction .video {
  position: relative;
}

.introduction .video .thumbnail {
  position: relative;
}

.introduction .video .thumbnail img {
  width: 100%;
  height: auto;
}

.introduction .video .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.introduction .video .meta-info {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction .video .meta-info .imdb {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.introduction .video .meta-info .imdb .value {
  font-weight: 400;
  width: 37px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 4px;
  margin-bottom: 4px;
}

.introduction .video .meta-info .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background: #e40914;
  padding: 2px 11px;
}

.introduction .video:hover .overlay {
  background: rgba(17, 17, 17, 0.5);
}

.introduction .btn-play {
  position: absolute;
  z-index: 20;
  top: calc(50% - 22px);
  left: calc(50% - 19px);
  display: block;
  width: 38px;
  height: 44px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.introduction .btn-play:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.introduction .text {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.introduction .text .title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.363636;
  color: #fff;
  word-break: break-word;
  margin-bottom: 7px;
}

.introduction .text .title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.introduction .text .title a:hover {
  color: #e40914;
}

.introduction .text .info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbbbbb;
  text-transform: uppercase;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}

.introduction .text .info .item-info:nth-child(2) {
  margin-left: 10px;
  position: relative;
  padding-left: 10px;
}

.introduction .text .info .item-info:nth-child(2)::before {
  content: "•";
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbbbbb;
  position: absolute;
  top: 0;
  left: 0;
}

.introduction .text .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  color: #bbbbbb;
  word-break: break-word;
  margin-bottom: 32px;
}

.introduction .text .btn-readmore {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  background: #e40914;
  padding: 0 49px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.introduction .text .btn-readmore:hover {
  background: #b30710;
}

.btn-large,
.btn-normal,
.btn-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  border-radius: 23px;
}

.btn-normal {
  height: 50px;
}

.card1-item {
  margin-bottom: 30px;
}

.card1__pic {
  overflow: hidden;
  position: relative;
  margin-bottom: 26px;
}

.card1__pic img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card1__labels {
  max-width: calc(100% - 30px);
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card1__labels .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  word-break: break-word;
  text-align: center;
  background: #e40914;
  padding: 2px 11px;
}

.card1__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.222222;
  color: #fff;
  text-align: center;
  word-break: break-word;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 20px;
}

.card1__title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card1__title a:hover {
  color: #e40914;
}

.card1__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbb;
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
}

.card2 {
  margin-right: 20px;
  cursor: pointer;
}

.card2:hover .btn-play {
  opacity: 1;
}

.card2:hover .card2__overlay {
  opacity: 0.5;
}

.card2__pic {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 25px;
}

.card2__pic .btn-play {
  position: absolute;
  z-index: 20;
  top: calc(50% - 22px);
  left: calc(50% - 19px);
  display: block;
  width: 38px;
  height: 44px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card2__overlay {
  position: absolute;
  z-index: 2;
  width: 110%;
  height: 110%;
  bottom: -2px;
  left: -2px;
  background: #000;
  opacity: 0.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card2__meta-info {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  max-width: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2__meta-info .imdb {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.card2__meta-info .imdb .value {
  font-weight: 400;
  width: 37px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
  margin-bottom: 4px;
}

.card2__meta-info .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  word-break: break-word;
  background: #e40914;
  padding: 2px 11px;
}

.card2__meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.card2__meta .item {
  background-color: #252525;
  line-height: 20px;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  color: #bbbbbb;
  margin-right: 10px;
}

.card2__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.333333;
  color: #fff;
  text-align: center;
  word-break: break-word;
  margin-bottom: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 47px;
}

.card2__title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card2__title a:hover {
  color: #e40914;
}

.card2__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #7c7c7c;
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
}

.card3 {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.card3:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card3 img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card3__overlay {
  position: absolute;
  z-index: 2;
  width: 110%;
  height: 110%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000);
  opacity: 0.6;
}

.card3__content {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #fff;
  text-align: center;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card3__content:hover {
  color: #fff;
}

.card3__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 2px;
}

.card4 {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.card4 img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card4__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  position: absolute;
  z-index: 2;
  height: 100%;
  width: auto;
  top: 0;
  right: -1px;
  left: 0;
  pointer-events: none;
}

.card4__meta-info {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  max-width: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card4__meta-info .imdb {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.card4__meta-info .imdb .value {
  font-weight: 400;
  width: 37px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
  margin-bottom: 4px;
}

.card4__meta-info .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  word-break: break-word;
  background: #e40914;
  padding: 2px 11px;
}

.card4__content {
  width: 365px;
  max-width: calc(100% - 50px);
  max-height: calc(100% - 40px - 110px);
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.card4__content .meta {
  margin-bottom: 8px;
}

.card4__content .meta .item {
  background-color: #252525;
  line-height: 20px;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  color: #bbbbbb;
}

.card4__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  text-align: left;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 7px;
  max-height: 54px;
}

.card4__title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card4__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbbbbb;
  text-transform: uppercase;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -13px;
  margin-bottom: 15px;
}

.card4__info .item-info {
  padding-left: 13px;
  padding-right: 10px;
  position: relative;
}

.card4__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  color: #bbbbbb;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 32px;
  max-height: 78px;
}

.card5 {
  overflow: hidden;
  position: relative;
  z-index: 1;
  grid-row: span 2;
  grid-column: span 2;
}

.card5 img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card5__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  position: absolute;
  z-index: 2;
  height: 100%;
  width: auto;
  top: 0;
  right: -1px;
  left: 0;
  pointer-events: none;
}

.card5__meta-info {
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 15px;
  max-width: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card5__meta-info .imdb {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 11px;
}

.card5__meta-info .imdb .value {
  font-weight: 400;
  width: 37px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
  margin-bottom: 4px;
}

.card5__meta-info .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  word-break: break-word;
  background: #e40914;
  padding: 2px 11px;
}

.card5__content {
  width: 365px;
  max-width: calc(100% - 50px);
  max-height: calc(100% - 40px - 110px);
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card5__content .meta {
  margin-bottom: 8px;
}

.card5__content .btn-readmore {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  background: #e40914;
  padding: 0 49px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card5__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #fff;
  text-align: left;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 7px;
  max-height: 54px;
}

.card5__title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card5__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbbbbb;
  text-transform: uppercase;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -13px;
  margin-bottom: 15px;
}

.card5__info .item-info {
  padding-left: 13px;
  padding-right: 10px;
  position: relative;
}

.card5__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  color: #bbbbbb;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 32px;
  max-height: 78px;
}

.card6 {
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.card6 img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card6__overlay {
  position: absolute;
  z-index: 2;
  top: auto;
  width: 110%;
  height: 68%;
  bottom: -2px;
  left: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #000);
  opacity: 0.8;
  pointer-events: none;
}

.card6__content {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 430px;
  max-width: calc(100% - 60px);
  max-height: calc(100% - 60px);
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 23px;
}

.card6__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  max-height: 54px;
  color: #fff;
  text-align: left;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 7px;
}

.card6__title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card6__title a:hover {
  color: #e40914;
}

.card6__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbbbbb;
  text-transform: uppercase;
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -13px;
}

.card6__info::before {
  content: "•";
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #bbbbbb;
  position: absolute;
  top: 0;
  left: 0;
}

.card6__info .item-info {
  padding-left: 13px;
  padding-right: 10px;
  position: relative;
}

.card7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.card7__pic {
  width: 201px;
  overflow: hidden;
}

.card7__text {
  width: calc(100% - 201px - 25px);
}

.card7__info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #e40914;
  text-transform: uppercase;
  word-break: break-word;
  margin-bottom: 2px;
}

.card7__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #fff;
  word-break: break-word;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 25px;
}

.card7__title a {
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card7__title a:hover {
  color: #e40914;
}

.card7__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #7c7c7c;
  max-height: 72px;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 33px;
}

.card8__pic {
  width: 100px;
  padding-top: 4px;
}

.card8__pic img {
  width: 100%;
}

.card8__text {
  width: calc(100% - 100px - 25px);
}

.card8__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  word-break: break-word;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  padding-top: 0;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 46px;
}

.card8__title a {
  display: inline-block;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card8__title a:hover {
  color: #e40914;
}

.card8__date {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #7c7c7c;
  word-break: break-word;
}

.card9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card9__icon img {
  width: 75px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card9__content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card9__title h3 {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px;
  line-height: 1.5;
  word-break: break-word;
}

.card9__description {
  color: #6e6e6e;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  text-align: justify;
  word-break: break-word;
}

.card10 {
  margin: 0 15px;
}

.card10:hover img {
  opacity: 1;
}

.card10 img {
  opacity: 0.6;
}

.popular-items {
  background: #262626;
  padding-top: 65px;
}

.popular-items .heading-post {
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.popular-items .heading-post .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  padding-right: 20px;
  padding-left: 20px;
}

.popular-items .heading-post .link {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #e40914;
  text-decoration: underline;
  word-break: break-word;
  border-left: 1px solid #2b2b2b;
  padding: 3px 0 3px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.popular-items .heading-post .link::after {
  position: absolute;
  bottom: 3px;
  left: 20px;
  right: 0;
  height: 1px;
  content: "";
  background-color: #e40914;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popular-items .heading-post .link:hover {
  color: #fff;
}

.popular-items .heading-post .link:hover .popular-items .heading-post .link::after {
  background: #fff;
}

.trending {
  padding-top: 65px;
}

.trending .heading-post {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  margin-bottom: 34px;
}

.trending .heading-post::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  background: rgba(215, 215, 215, 0.1);
}

.trending .heading-post .text {
  background: #262626;
  padding: 0 28px;
}

.trending .heading-post .text .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  margin-bottom: 5px;
}

.trending .heading-post .text .description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #7c7c7c;
  word-break: break-word;
}

.trending .owl-stage-outer {
  overflow: initial;
}

.trending .owl-stage-outer .owl-item {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  pointer-events: none;
}

.trending .owl-stage-outer .owl-item.active {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  pointer-events: initial;
}

.trending .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .owl-nav .owl-prev,
.trending .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(149, 149, 149, 0.5) !important;
  border-radius: 50%;
}

.trending .owl-nav .owl-prev:hover,
.trending .owl-nav .owl-next:hover {
  background: #e40914;
}

.trending .owl-nav .owl-prev span,
.trending .owl-nav .owl-next span {
  font-size: 30px;
  color: #fff;
}

.trending .owl-nav .owl-prev {
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}

.trending .owl-nav .owl-next {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.latest {
  padding-top: 65px;
}

.latest .heading-post {
  overflow: hidden;
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 33px;
}

.latest .heading-post .wrap-title {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.latest .heading-post .wrap-title .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  padding-right: 20px;
  padding-left: 20px;
}

.latest .heading-post .wrap-title .link {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #e40914;
  text-decoration: underline;
  word-break: break-word;
  border-left: 1px solid #2b2b2b;
  padding: 0px 0 3px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.latest .heading-post .wrap-title .link::after {
  position: absolute;
  bottom: 3px;
  left: 20px;
  right: 0;
  height: 1px;
  content: "";
  background-color: #e40914;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.latest .heading-post .categories {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.latest .heading-post .categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest .heading-post .categories ul li {
  position: relative;
  padding: 3px 0;
}

.latest .heading-post .categories ul li:not(:first-child)::before {
  content: "•";
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: #6b6b6b;
  position: absolute;
  top: 3px;
  left: -20px;
}

.latest .heading-post .categories ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  color: #7c7c7c;
  text-transform: uppercase;
  word-break: break-word;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.latest .heading-post .categories ul li a:hover {
  color: #e40914;
}

.latest .grid-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: minmax(100px, auto);
      grid-template-rows: minmax(100px, auto);
  grid-gap: 20px;
}

.newsfeed {
  padding-top: 65px;
}

.newsfeed .heading-post {
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.newsfeed .heading-post .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
  word-break: break-word;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsfeed .heading-post .description {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #7c7c7c;
  word-break: break-word;
  border-left: 1px solid #2b2b2b;
  padding: 3px 0 3px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-content {
  background: #fff;
}

.page-title .main-top {
  min-height: 30vh;
}

.page-title .main-top .content {
  padding: 60px 0;
  text-align: center;
}

.page-title .main-top .content h1 {
  color: #fff;
}

.page-title .main-top .content h1:hover {
  color: #e40914;
}

.page-title .main-top .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-title .main-top .content ul li span {
  color: #fff;
  font-size: 15px;
  margin: 0 5px;
}

.page-content {
  padding-top: 65px;
}

.page-content .wrap-filter-group {
  overflow: hidden;
}

.page-content .wrap-filter-group .form_filter_mobile {
  display: none;
}

.page-content .wrap-filter-group .filter-tope-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6dee5;
  margin-bottom: 3rem;
}

.page-content .wrap-filter-group .filter-tope-group .item-tope {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  color: #292929;
  word-break: break-word;
  margin: 8px 30px 0;
  padding: 12px 0;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-content .wrap-filter-group .filter-tope-group .item-tope:hover {
  color: #e40914;
}

.page-content .wrap-filter-group .filter-tope-group .item-tope::before {
  content: "•";
  color: #cecece;
  position: absolute;
  top: 12px;
  left: -32px;
}

.page-content .wrap-filter-group .filter-tope-group .item-tope::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e40914;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.page-content .videos-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 30px;
  padding-bottom: 30px;
}

.page-content .videos-gallery .card2__title a {
  color: #000;
}

.page-content .videos-gallery .card2__info {
  display: none;
}

.detail {
  background: #fff;
}

.detail .page-title .main-top {
  min-height: 60vh;
}

.detail .page-title .content h1 {
  font-weight: 400;
  font-size: 36px;
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.2;
  color: #fff;
  padding-top: 0;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.detail .page-title .content .description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
  word-break: break-word;
  max-width: 500px;
  margin: 6px auto;
}

.detail .page-content .main-video {
  margin-top: -20%;
  width: 1110px;
  height: 624px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

@media (max-width: 37.5em) {
  .detail .page-content .main-video {
    margin-top: -60%;
  }
}

.detail .page-content .main-video iframe {
  width: 100%;
  height: 100%;
}

.detail .page-content .detail-video {
  margin-top: 20px;
}

.detail .page-content .detail-video h3 {
  font-size: 36px;
  line-height: 1.6em;
  text-transform: none;
}

.detail .page-content .detail-video p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.875;
  color: #6e6e6e;
  word-break: break-word;
  margin-bottom: 30px;
}

.aboutus {
  background: #fff;
}

.aboutus .page-content .services__heading {
  max-width: 770px;
  color: #1e1e1e;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 600;
  text-transform: none;
  margin: 0 auto;
  text-align: center;
}

.aboutus .page-content .services__items {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 40px;
}

.aboutus .page-content .customer {
  margin-top: 80px;
  padding-bottom: 50px;
}

.aboutus .page-content .customer h3 {
  max-width: 770px;
  color: #1e1e1e;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 600;
  text-transform: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.aboutus .page-content .customer-gallery {
  padding: 30px 0;
  background: #ebebeb;
}
/*# sourceMappingURL=main.css.map */