.card2 {
	margin-right: 20px;
	&__pic {
		position: relative;
		z-index: 1;
		overflow: hidden;
		margin-bottom: 25px;

		.btn-play {
			position: absolute;
			z-index: 20;
			top: calc(50% - 22px);
			left: calc(50% - 19px);
			display: block;
			width: 38px;
			height: 44px;
			opacity: 0;
			transition: all 0.3s;
		}
	}

	&__overlay {
		position: absolute;
		z-index: 2;
		width: 110%;
		height: 110%;
		bottom: -2px;
		left: -2px;
		background: #000;
		opacity: 0.2;
		transition: all 0.3s;
	}

	&__meta-info {
		position: absolute;
		z-index: 10;
		top: 15px;
		left: 15px;
		max-width: calc(100% - 30px);
		display: flex;
		flex-direction: column;
		align-items: center;

		.imdb {
			font-weight: 600;
			font-size: 12px;
			line-height: 1.2;
			color: #fff;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 11px;

			.value {
				font-weight: 400;
				width: 37px;
				height: 35px;
				display: flex;
				justify-content: center;
				align-items: center;

				padding-top: 4px;
				margin-bottom: 4px;
			}
		}

		.label {
			font-weight: 500;
			font-size: 12px;
			line-height: 1.5;
			color: #fff;
			text-align: center;
			word-break: break-word;
			background: $red-color;
			padding: 2px 11px;
		}
	}

	&__meta {
		position: absolute;
		bottom: 15px;
		left: 15px;

		.item {
			background-color: #252525;
			line-height: 20px;
			display: inline-block;
			font-size: 12px;
			padding: 0 8px;
			color: #bbbbbb;
			margin-right: 10px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.333333;
		color: #fff;
		text-align: center;
		word-break: break-word;
		margin-bottom: 7px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-height: 47px;

		a {
			color: #fff;
			transition: all 0.2s;
			&:hover {
				color: $red-color;
			}
		}
	}

	&__info {
		font-weight: 300;
		font-size: 14px;
		line-height: 1.85;
		color: #7c7c7c;
		text-align: center;
		text-transform: uppercase;
		word-break: break-word;
	}
}
