.introduction {
	background-size: cover;
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10rem 0;

	.video {
		position: relative;

		.thumbnail {
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
		}
		.overlay {
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(17, 17, 17, 0.2);
			transition: all 0.3s;
		}

		.meta-info {
			position: absolute;
			z-index: 10;
			top: 15px;
			left: 28px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.imdb {
				font-weight: 600;
				font-size: 12px;
				line-height: 1.2;
				color: #fff;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 11px;

				.value {
					font-weight: 400;
					width: 37px;
					height: 35px;
					display: flex;
					justify-content: center;
					align-items: center;

					background-size: contain;
					background-repeat: no-repeat;
					background-position: center center;
					padding-top: 4px;
					margin-bottom: 4px;
				}
			}

			.label {
				font-weight: 500;
				font-size: 12px;
				line-height: 1.5;
				color: #fff;
				text-align: center;
				background: #e40914;
				padding: 2px 11px;
			}
		}

		&:hover .overlay {
			background: rgba(17, 17, 17, 0.5);
		}
	}

	.btn-play {
		position: absolute;
		z-index: 20;
		top: calc(50% - 22px);
		left: calc(50% - 19px);
		display: block;
		width: 38px;
		height: 44px;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.2, 1.2);
		}
	}

	.text {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.title {
			font-weight: 500;
			font-size: 22px;
			line-height: 1.363636;
			color: #fff;
			word-break: break-word;
			margin-bottom: 7px;

			a {
				color: #fff;
				transition: all 0.2s;

				&:hover {
					color: $red-color;
				}
			}
		}

		.info {
			font-weight: 300;
			font-size: 14px;
			line-height: 1.85;
			color: #bbbbbb;
			text-transform: uppercase;
			word-break: break-word;
			display: flex;
			flex-wrap: wrap;

			margin-bottom: 32px;

			.item-info:nth-child(2) {
				margin-left: 10px;
				position: relative;
				padding-left: 10px;

				&::before {
					content: "•";
					font-family: inherit;
					font-weight: 300;
					font-size: 14px;
					line-height: 1.85;
					color: #bbbbbb;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

		.description {
			font-weight: 300;
			font-size: 16px;
			line-height: 1.625;
			color: #bbbbbb;
			word-break: break-word;
			margin-bottom: 32px;
		}

		.btn-readmore {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.5;
			color: #fff;
			text-transform: uppercase;
			background: $red-color;
			padding: 0 49px;
			transition: all 0.2s;

			&:hover {
				background: $red-color-dark;
			}
		}
	}
}
