.trending {
	padding-top: 65px;
	.heading-post {
		text-align: center;
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 1;
		margin-bottom: 34px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 1px;
			top: 50%;
			left: 0;
			background: rgba(215, 215, 215, 0.1);
		}

		.text {
			background: #262626;
			padding: 0 28px;

			.title {
				font-weight: 600;
				font-size: 24px;
				line-height: 1.1;
				color: #fff;
				text-transform: uppercase;
				word-break: break-word;
				margin-bottom: 5px;
			}

			.description {
				font-weight: 300;
				font-size: 14px;
				line-height: 1.6;
				color: #7c7c7c;
				word-break: break-word;
			}
		}
	}
	.owl-stage-outer {
		overflow: initial;

		.owl-item {
			filter: brightness(0.2);
			pointer-events: none;
		}

		.owl-item.active {
			filter: brightness(1);
			pointer-events: initial;
		}
	}

	.owl-nav {
		position: absolute;
		width: 100%;
		top: 50%;
		display: flex;
		justify-content: space-between;

		.owl-prev,
		.owl-next {
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(149, 149, 149, 0.5) !important;
			border-radius: 50%;

			&:hover {
				background: $red-color;
			}

			span {
				font-size: 30px;
				color: #fff;
			}
		}

		.owl-prev {
			transform: translateX(-25px);
		}
		.owl-next {
			transform: translateX(25px);
		}
	}
}
