.footer {
	padding-top: 100px;
	padding-bottom: 50px;
	background: #111;

	figure {
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
	}

	&-info {
		.description {
			p {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.625;
				color: #7c7c7c;
				text-align: center;
				word-break: break-word;
				margin-bottom: 32px;
			}
		}
	}

	&-form {
		form {
			width: 370px;
			max-width: 100%;
			margin-right: auto;
			margin-left: auto;
			display: flex;
			margin-bottom: 40px;

			label {
				flex-grow: 1;
				height: 43px;

				input {
					font-weight: 300;
					font-size: 16px;
					line-height: 1.5;
					color: #fff;
					min-width: 0;
					width: 100%;
					height: 100%;
					background: 0 0;
					border: 1px solid rgba(137, 137, 138, 0.3);
					border-right: none;
					padding: 0 15px;

					&:focus {
						outline: red !important;
					}
				}
			}
		}

		&__btn {
			font-weight: 500;
			font-size: 16px;
			line-height: 1.5;
			color: #fff;
			text-transform: uppercase;
			background: #e40914;
			height: 43px;
			padding: 0 15px;
			transition: all 0.2s;
			border-radius: 0;
			border: none;
			width: auto;
			margin-top: 0;

			&:hover {
				background: $red-color-dark;
				color: #fff;
			}
		}
	}

	&-social {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		.wrap-content-social-links {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin: -5px;
			.social-item {
				font-size: 19px;
				line-height: 1;
				color: #757575;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #262626;
				margin: 5px;
				transition: all 0.2s;
				text-decoration: none;
				border: 1px solid;

				&:hover {
					background: $red-color;
					color: #fff;
				}
			}
		}
	}

	&-latest-post {
		.title {
			font-weight: 600;
			font-size: 18px;
			line-height: 1.5;
			color: #fff;
			text-transform: uppercase;
			word-break: break-word;
			margin-top: -5px;
			margin-bottom: 28px;
		}
	}

	.popular-categories {
		.title {
			font-weight: 600;
			font-size: 18px;
			line-height: 1.5;
			color: #fff;
			text-transform: uppercase;
			word-break: break-word;
			margin-top: -5px;
			margin-bottom: 28px;
		}

		.list-categories {
			.cat-item {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.5;
				color: #fff;
				word-break: break-word;
				padding-right: 40px;
				position: relative;
				margin-bottom: 9px;
				display: flex;
				justify-content: space-between;

				a {
					color: #7c7c7c;
					transition: all 0.2s;

					&:hover {
						color: $red-color;
					}
				}
			}
		}
	}
}
